* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f9f9fc;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  background-color: white;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  max-width: 500px;
  width: 100%;
}

.signup-form h2 {
  text-align: center;
  margin-bottom: 30px;
}

.name-fields {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  position: relative;
  flex: 1;
}

.input-group label {
  margin-bottom: 6px;
  font-size: 14px;
  color: #333;
}

.input-group input {
  padding: 12px 14px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
}

.input-group input:focus {
  border-color: #5b9bd5;
}

.password-group .eye-icon {
  position: absolute;
  right: 14px;
  bottom: 14px;
  cursor: pointer;
  color: #888;
}

.checkbox-group {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  margin-bottom: 25px;
}

.checkbox-group .link {
  color: green;
  cursor: pointer;
}
.btn-primary {
  background-color: #05a05d;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

.btn-primary:hover {
  background-color: #218838;
}

.divider {
  text-align: center;
  color: #aaa;
  font-size: 14px;
  margin-top: 8px;
  position: relative;
}

.divider::before,
.divider::after {
  content: "";
  height: 1px;
  width: 40%;
  background: #ccc;
  position: absolute;
  top: 50%;
}

.divider::before {
  left: 0;
}

.divider::after {
  right: 0;
}

.btn-google {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px;
  font-size: 14px;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
}

.btn-google img {
  width: 20px;
  height: 20px;
}